body {
    background-color:whitesmoke;
}



.col .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    height: 133px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.center, .center-align {
    text-align: center;
}

img.responsive-img, video.responsive-video {
    max-width: 100%;
}

.center, .center-align {
    text-align: center;
}


html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}


.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}



.indigo-text {
    color: #3f51b5 !important;
}

h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 1.0933333333rem 0 0.656rem 0;
}

.page-footer .footer-copyright {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
}

.indigo {
    background-color: #4c589e !important;
}


ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}


.sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
}